Flask==3.0.3
Werkzeug==3.0.1
Jinja2==3.1.6
itsdangerous==2.2.0
MarkupSafe==3.0.3
blinker==1.9.0
python-dotenv==1.0.1
pymongo==4.6.1
firebase-admin==7.1.0
google-cloud-storage==3.9.0
google-cloud-firestore==2.23.0
Flask-Mail==0.10.0
requests==2.31.0
urllib3==2.6.3
python-dateutil==2.9.0
certifi==2026.1.4
torch==2.10.0
torchvision==0.25.0
torchaudio==2.10.0
transformers==5.2.0
accelerate==1.12.0
peft==0.18.1
bitsandbytes==0.49.2
huggingface_hub==1.4.1
safetensors==0.7.0
tokenizers==0.22.2
numpy==2.4.2
qwen-vl-utils==0.0.14
Pillow==12.1.1
pdf2image==1.17.0
PyPDF2==3.0.1
img2pdf==0.6.3
pikepdf==10.5.0
tqdm==4.67.3
rich==14.3.2
click==8.3.1